// panel 面板组件
.panel {
  margin-bottom: 20px;
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
  border-color: #ddd;
  >.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
  }
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body {
  padding: 15px;
}
