html,
body {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.browser-tips {
  position: relative;
  z-index: 999999;
  line-height: 3rem;
  height: 3rem;
  font-size: .875rem;
  margin: 0;
  padding: 0;
  background-color: #FFFFE1;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.container-body {
  padding: 20px 0;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

// 页头
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid $gray-light;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: $t-s;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  &:hover {
    color: $white;
  }
}

// text-editor 的鼠标手型
// *[text-editor] {
//   cursor: pointer;
// }
// 响应式
@media screen and (max-width: 960px) {
  .container {
    min-width: 100%;
    width: auto;
  }
}
